body {
  background: black;
  font-family: sans-serif;
  font-size: 20px;
}
.container {
  color: antiquewhite;
}
.container h1 {
  font-size: 4.5vw;
  margin: 0 10px 0 10px;
}
.info div {
  font-size: 1.5vw;
}
@media screen and (max-width: 600px) {
  .container h1 {
    font-size: 6.5vw;
  }
}
@media screen and (max-width: 800px) {
  .info div {
    font-size: 12px;
  }
}
@media screen and (min-width: 1080px) {
  .container h1 {
    font-size: 49px;
  }
  .info div {
    font-size: 16px;
  }
}